## 데이터 만들기

- 9월 2일 데이터로 time	교통량	time_lag_day1	time_lag_day7	time_lag_day30	교통량_lag_day1	교통량_lag_day7	교통량_lag_day30 데이터셋 만들기

In [4]:
import pandas as pd
import datetime as dt

In [116]:
def func(a):
    if len(str(a)) > 3:
        h,m = map(int,a.split(':'))
        t = h*60 + m
        return int(t)
    return a

ridx = 0
new_lst = []
pass_lst = []

for i in range(1,3):
    df = pd.read_csv(f'./test_data/이동시간_{i}.csv',encoding='cp949')

    for col in df.columns:
        df[col] = df[col].apply(func)

    for row in range(df.shape[0]):
        cidx = 0
        for col in df.columns:
            if cidx > 3:           
                ymd = col.split('.')
                new =  dt.datetime(int(ymd[0]), int(ymd[1]), int(ymd[2]))
                new_lst.append(new)
                df[col] = df[col].astype(int)

                did = (24 -(df[col] == 0).sum())
                if did :
                    pass_lst.append(df[col].sum() // did)
                else:
                    pass_lst.append(0)
                    
            cidx += 1

In [117]:
df_time = pd.DataFrame({'datetime':new_lst,'time':pass_lst})
df_time.tail()

       datetime  time
1483 2022-07-09   270
1484 2022-07-08   281
1485 2022-07-07   266
1486 2022-07-06   254
1487 2022-07-05   251

In [118]:
df_time.drop_duplicates('datetime',inplace=True)
df_time['datetime'].value_counts()

2022-09-02    1
2022-09-01    1
2022-08-01    1
2022-07-31    1
2022-07-30    1
2022-07-29    1
2022-07-28    1
2022-07-27    1
2022-07-26    1
2022-07-25    1
2022-07-24    1
2022-07-23    1
2022-07-22    1
2022-07-21    1
2022-07-20    1
2022-07-19    1
2022-07-18    1
2022-07-17    1
2022-07-16    1
2022-07-15    1
2022-07-14    1
2022-07-13    1
2022-07-12    1
2022-07-11    1
2022-07-10    1
2022-07-09    1
2022-07-08    1
2022-07-07    1
2022-07-06    1
2022-08-02    1
2022-08-03    1
2022-08-04    1
2022-08-19    1
2022-08-31    1
2022-08-30    1
2022-08-29    1
2022-08-28    1
2022-08-27    1
2022-08-26    1
2022-08-25    1
2022-08-24    1
2022-08-23    1
2022-08-22    1
2022-08-21    1
2022-08-20    1
2022-08-18    1
2022-08-05    1
2022-08-17    1
2022-08-16    1
2022-08-15    1
2022-08-14    1
2022-08-13    1
2022-08-12    1
2022-08-11    1
2022-08-10    1
2022-08-09    1
2022-08-08    1
2022-08-07    1
2022-08-06    1
2022-07-05    1
Name: datetime, dtype: int64

In [122]:
df_traffic1 = pd.read_csv('./test_data/통행량_1.csv',encoding='cp949')
df_traffic2 = pd.read_csv('./test_data/통행량_2.csv',encoding='cp949')
df_traffic = pd.concat([df_traffic2,df_traffic1])
df_traffic.drop(['출발','도착'],axis=1,inplace=True)
#df_traffic.sort_index('일자',inplace=True)
df_traffic

            일자  교통량
0   2022.07.05   10
1   2022.07.06    6
2   2022.07.07   13
3   2022.07.08   18
4   2022.07.09   16
..         ...  ...
26  2022.08.31   10
27  2022.09.01    7
28  2022.09.02   10
29  2022.09.03   15
30  2022.09.04    7

[62 rows x 2 columns]

In [123]:
df_traffic.drop_duplicates('일자',inplace=True)

In [124]:
def transform(a):
    return a.replace('.','-')


df_traffic['일자'] = df_traffic['일자'].apply(transform)

In [125]:
df_time['datetime'].value_counts()

2022-09-02    1
2022-09-01    1
2022-08-01    1
2022-07-31    1
2022-07-30    1
2022-07-29    1
2022-07-28    1
2022-07-27    1
2022-07-26    1
2022-07-25    1
2022-07-24    1
2022-07-23    1
2022-07-22    1
2022-07-21    1
2022-07-20    1
2022-07-19    1
2022-07-18    1
2022-07-17    1
2022-07-16    1
2022-07-15    1
2022-07-14    1
2022-07-13    1
2022-07-12    1
2022-07-11    1
2022-07-10    1
2022-07-09    1
2022-07-08    1
2022-07-07    1
2022-07-06    1
2022-08-02    1
2022-08-03    1
2022-08-04    1
2022-08-19    1
2022-08-31    1
2022-08-30    1
2022-08-29    1
2022-08-28    1
2022-08-27    1
2022-08-26    1
2022-08-25    1
2022-08-24    1
2022-08-23    1
2022-08-22    1
2022-08-21    1
2022-08-20    1
2022-08-18    1
2022-08-05    1
2022-08-17    1
2022-08-16    1
2022-08-15    1
2022-08-14    1
2022-08-13    1
2022-08-12    1
2022-08-11    1
2022-08-10    1
2022-08-09    1
2022-08-08    1
2022-08-07    1
2022-08-06    1
2022-07-05    1
Name: datetime, dtype: int64

In [108]:
df_time.tail()

      datetime  time
770 2022-07-09   270
771 2022-07-08   281
772 2022-07-07   266
773 2022-07-06   254
774 2022-07-05   251

In [109]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 774
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  60 non-null     datetime64[ns]
 1   time      60 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.4 KB

In [126]:
df_traffic['일자'] = df_traffic['일자'].astype('datetime64[ns]')

In [111]:
df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 30
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      62 non-null     datetime64[ns]
 1   교통량     62 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.5 KB

In [127]:
df_time.set_index('datetime', inplace=True)
df_traffic.set_index('일자', inplace=True)

In [128]:
df= pd.merge(df_time,df_traffic,left_index=True,right_on='일자')

In [129]:
df = df.sort_index()

In [130]:
df['time_lag_day1'] = df['time'].shift()
df['time_lag_day7'] = df['time'].shift(7)
df['time_lag_day30'] = df['time'].shift(30)

df['교통량_lag_day1'] = df['교통량'].shift()
df['교통량_lag_day7'] = df['교통량'].shift(7)
df['교통량_lag_day30'] = df['교통량'].shift(30)

In [136]:
df.tail(1)

,time,교통량,time_lag_day1,time_lag_day7,time_lag_day30,교통량_lag_day1,교통량_lag_day7,교통량_lag_day30
일자,,,,,,,,
2022-09-02,288,10,296.0,278.0,301.0,7.0,11.0,16.0

In [133]:
df = df.asfreq('D')

-------

In [138]:
import joblib

import statsmodels.api as sm

import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.filterwarnings(action='ignore')
warnings.simplefilter('ignore', ConvergenceWarning)

In [141]:


loaded_model = joblib.load('SARIMAX.joblib')

tmp = df.tail(1)

pred_loaded = loaded_model.forecast(1,exog=tmp)

In [142]:
pred_loaded
#4시간 43분

1722    282.832195
dtype: float64