In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import *

In [1]:
path = "https://raw.githubusercontent.com/DA4BAM/dataset/master/Attrition_simple2.CSV"
data = pd.read_csv(path)
data.head()

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
0,0,33,7,817,Male,3,Married,11691,No,11,14
1,0,35,18,1412,Male,4,Single,9362,No,11,10
2,0,42,6,1911,Male,1,Married,13348,No,13,18
3,0,46,2,1204,Female,1,Married,17048,No,23,28
4,1,22,4,593,Male,3,Single,3894,No,16,4

In [2]:
data.drop('EmployeeNumber', axis = 1, inplace = True)

target = 'Attrition'
x = data.drop(target, axis = 1)
y = data.loc[:, target]

In [3]:
cat_cols = ['Gender','JobSatisfaction','MaritalStatus','OverTime']
x = pd.get_dummies(x, columns = cat_cols, drop_first = True)

In [6]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size = .3, random_state = 2022)

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
x_train_s = scaler.fit_transform(x_train)
x_val_s = scaler.transform(x_val)

In [8]:
model = KNeighborsClassifier()
model.fit(x_train_s,y_train)
pred = model.predict(x_val_s)

In [9]:
print(classification_report(y_val,pred))

              precision    recall  f1-score   support

           0       0.86      0.96      0.91       300
           1       0.52      0.24      0.33        59

    accuracy                           0.84       359
   macro avg       0.69      0.60      0.62       359
weighted avg       0.81      0.84      0.81       359