In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import *

In [1]:
path = "https://raw.githubusercontent.com/DA4BAM/dataset/master/Attrition_simple2.CSV"
data = pd.read_csv(path)
data.head()

,Attrition,Age,DistanceFromHome,EmployeeNumber,Gender,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears
0,0,33,7,817,Male,3,Married,11691,No,11,14
1,0,35,18,1412,Male,4,Single,9362,No,11,10
2,0,42,6,1911,Male,1,Married,13348,No,13,18
3,0,46,2,1204,Female,1,Married,17048,No,23,28
4,1,22,4,593,Male,3,Single,3894,No,16,4

In [2]:
data.drop('EmployeeNumber', axis = 1, inplace = True)

target = 'Attrition'
x = data.drop(target, axis = 1)
y = data.loc[:, target]

In [3]:
cat_cols = ['Gender','JobSatisfaction','MaritalStatus','OverTime']
x = pd.get_dummies(x, columns = cat_cols, drop_first = True)

In [6]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size = .3, random_state = 2022)

In [7]:
model = LogisticRegression()
model.fit(x_train,y_train)
pred = model.predict(x_val)

c:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
print(list(x))
print(model.coef_)

['Age', 'DistanceFromHome', 'MonthlyIncome', 'PercentSalaryHike', 'TotalWorkingYears', 'Gender_Male', 'JobSatisfaction_2', 'JobSatisfaction_3', 'JobSatisfaction_4', 'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_Yes']
[[-3.93412690e-02  3.78546332e-02 -6.12306070e-05 -2.74992213e-02
  -4.30054246e-02  2.30777605e-01 -2.19177781e-01 -1.05323122e-01
  -3.12101843e-01 -4.12848207e-01  8.42849707e-01  1.27030048e+00]]

In [14]:
confusion_matrix( y_val , pred  )

array([[293,   7],
       [ 45,  14]], dtype=int64)

In [12]:
print(accuracy_score(y_val,pred))
print(recall_score(y_val,pred))
print(precision_score(y_val,pred))
print(f1_score(y_val,pred))

0.8551532033426184
0.23728813559322035
0.6666666666666666
0.35

In [11]:
print(classification_report(y_val,pred))

              precision    recall  f1-score   support

           0       0.87      0.98      0.92       300
           1       0.67      0.24      0.35        59

    accuracy                           0.86       359
   macro avg       0.77      0.61      0.63       359
weighted avg       0.83      0.86      0.83       359